* {
  font-family: "Simonetta", sans-serif;
  color: rgb(102, 0, 51);
  text-shadow: 1px 1px 1px rgb(209, 138, 209);
}

body {
  background-image: url("https://iili.io/RjJC57.md.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 2fr 7fr 3fr 2fr;
  min-height: 600px;
  width: 100vw;
}

footer {
  margin: 0 auto;
}

h3 {
  font-size: 25px;
  text-align: center;
  color: rgb(102, 0, 51);
}

aside {
  margin: 10px;
  display: grid;
  grid-template-columns: 3, repeat(1fr);
  grid-template-rows: 3, repeat(1fr);
}

header {
  margin: 10px;
  display: grid;
  grid-template-columns: 5, repeat(1fr);
  grid-template-rows: 2, repeat(1fr);
}
main {
  margin: 0, auto;
}
#animation {
  display: flex;
  justify-content: center;
}
#dish-form {
  display: flex;
  position: relative;
  top: -40px;
  justify-content: center;
}
#dropdown {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0, auto;
  width: 200px;
}
#email-form {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0 auto;
}
#food-data,
#wine-data {
  margin: 0 auto;
  width: 600px;
  font-weight: 600;
  font-size: 16px;
}
#pairvino {
  font-size: 40px;
  grid-column: 1/2;
  margin: 0 auto;
}
#resource {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0 auto;
}
