* {
  font-family: "Simonetta", sans-serif;
  color: rgb(102, 0, 51);
  text-shadow: 2px 2px 2px rgb(209, 138, 209);
}

body {
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 70%,
      rgba(143, 104, 125, 0.5) 88%,
      rgba(75, 47, 47, 0.7) 100%
    ),
    url("https://iili.io/RjJC57.md.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 2fr 7fr 6fr 2fr;
  min-height: 600px;
  width: 100vw;
}

footer {
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-size: 25px;
  color: rgb(102, 0, 51);
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(224, 220, 224, 0.9);
  border-radius: 6px;
  height: 20px;
  padding: 5px;
}

img {
  box-shadow: 5px 5px 5px rgb(165, 120, 165);
}
aside {
  background-image: url("https://iili.io/RjuQSt.png");
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
}

header {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.25fr 1.5fr 0.5fr;
  grid-template-rows: 1fr 0.5fr;
}
main {
  display: grid;
  grid-template-columns: ;
}
#animation {
  display: flex;
  justify-content: center;
}
#choose-wine {
  margin: 0 auto;
}
#dish-form {
  display: flex;
  position: relative;
  top: -40px;
  justify-content: center;
  margin: 0px auto;
}
#dropdown {
  font-size: 16px;
  margin: 20px auto;
  width: 200px;
  box-shadow: inset 0 0 0 0 rgb(238, 214, 238);
  transition: ease-out 0.3s;
  outline: none;
  border-radius: 6px;
}

#dropdown:hover {
  box-shadow: inset 200px 0 0 0 rgb(238, 214, 238);
  border: 2px solid rgb(102, 0, 51);
}

#email-form {
  display: inline-block;
  position: fixed;
  right: 150px;
  z-index: 1;
}
#food-data,
#wine-data {
  margin: 0 auto;
  width: 600px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
#food-data {
  width: 500px;
}
#have-a-certain {
  text-align: center;
}
#pairvino {
  font-size: 40px;
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 20px 0 0 140px;
}
#resource {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0 auto;
}
#thanks {
  margin: 10px auto 0;
}
#email-entry,
#wine-search {
  box-shadow: inset 0 0 0 0 rgb(238, 214, 238);
  transition: ease-out 0.3s;
  font-size: 14px;
  outline: none;
  border-radius: 6px;
}
#email-entry:hover,
#wine-search:hover {
  box-shadow: inset 135px 0 0 0 rgb(238, 214, 238);
  border: 2px solid rgb(102, 0, 51);
}
#email-entry:hover {
  font-size: 16px;
}
#submission,
#get-wine {
  box-shadow: inset 0 0 0 0 rgb(238, 214, 238);
  transition: ease-out 0.3s;
  font-size: 14px;
  outline: none;
  border-radius: 6px;
}
#submission:hover,
#get-wine:hover {
  box-shadow: inset 60px 0 0 0 rgb(238, 214, 238);
  border: 2px solid rgb(102, 0, 51);
}
#submission:hover {
  font-size: 16px;
}

@media screen and (max-width: 425px) {
  header {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.25fr 1.5fr 0.5fr;
    grid-template-rows: 0.8fr 1fr;
  }
  #email-form {
    display: inline-block;
    position: fixed;
    right: 10px;
    z-index: 1;
  }

  #pairvino {
    margin: 20px;
  }
  #wine-data {
    width: 500px;
  }
}
